<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>primer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">primer</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input label="Fibonacci" type="number" placeholder="Ingrese un numero"></ion-input>
        <ion-button (click)="calcularFibonacci()">Calcular</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
