<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Primer Punto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">primer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Fibonacci:</ion-label>
        <ion-input [(ngModel)]="numero"></ion-input>
      </ion-item>

      <ion-button (click)="calcularFibonacci()">Calcular serie de Fibonacci</ion-button>

      <ion-item *ngFor="let item of numeros">{{item}}</ion-item>

    </ion-list>
  </div>
</ion-content>
