<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio Taller
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
    <ion-button expand="block" (click)="irPrimerPunto()">Primer punto: Fibonacci</ion-button><br>
    <ion-button expand="block" (click)="irSegundoPunto()">Segundo punto: Factorial</ion-button><br>
    <ion-button expand="block" (click)="irTercerPunto()">Tercer punto: Primos</ion-button><br>
    <ion-button expand="block" (click)="irCuartoPunto()">Cuarto punto: Pares e impares</ion-button><br>
    <ion-button expand="block" (click)="irQuintoPunto()">Quinto punto: Conjuntos</ion-button><br>
    </ion-list>
  </div>
</ion-content>
