<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuarto Punto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuarto</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Pares e impares:</ion-label>
        <ion-input [(ngModel)]="numero"></ion-input>
      </ion-item>

      <ion-button (click)="calcularPares()">Pares</ion-button>
      <ion-button (click)="calcularImpares()">Impares</ion-button>

      <ion-item *ngFor="let item of pares">{{item}}</ion-item>
      <ion-item *ngFor="let item of impares">{{item}}</ion-item>

    </ion-list>
  </div>
</ion-content>
